<div class="row col-sm-2 pull-right actions">

{# Bouton pour répondre un commentaire #}
      <button class="btn btn-primary reply" data-id="{{ comment.idcom }}" data-niv="{{comment.niveau}}">
        <!-- le data-id va permettre de travailler en JavaScript sur l'affichage du formulaire -->
        <span class="glyphicon glyphicon-comment"></span>
      </button>

{# Bouton pour signaler un commentaire avec systeme de fenetre modal #}
      <button type="button" class="btn btn-danger btn-ms spamc" data-id="{{comment.idcom }}" data-sp="{{ comment.spam }}" data-ep="{{comment.episode.id }}" title="Signaler" data-toggle="modal" data-target="#spamDialog{{ comment.idcom }}">
      <span class="glyphicon glyphicon-thumbs-down"></span>
    </button>
      {# <div class="modal fade" id="spamDialog{{ comment.idcom }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Confirmation nécessaire</h4>
            </div>
            <div class="modal-body">
              Voulez-vous vraiment Signaler ce commentaire ?<br>
              Valeur actuel du champ SPAM : {{comment.spam}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default spamc" data-dismiss="modal">Annuler</button>
              <a href="{{ path('comment_spam', { 'id': comment.idcom }) }}" class="btn btn-danger">Confirmer</a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal --> #}

</div>


