{% extends 'layout.html.twig' %}

{% set adminMenu = true %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>

    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success" id="msgAlerte">
        {{ flashMessage }}
    </div>
    {% endfor %}

    <div class="well">
    {{ form_start(episodeForm, { 'attr': {
                'class': 'form-horizontal',
                'onsubmit': 'return valider()',
                'id': 'eForm'
            }}) }}
        <div class="form-group">
            {{ form_label(episodeForm.titre, null, { 'label_attr':  {
                'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-10">
                {{ form_errors(episodeForm.titre) }}
                {{ form_widget(episodeForm.titre, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(episodeForm.contenu, null, { 'label_attr':  {
                'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-10">
                {{ form_errors(episodeForm.contenu) }}
                {{ form_widget(episodeForm.contenu) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" formnovalidate="true"  class="btn btn-primary btn-episode" value="Enregistrer" />
            </div>
        </div>
    {{ form_end(episodeForm) }}

    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script>
        tinymce.init({
            selector: "textarea",
            height: "480",
            plugins: "save",
            style_formats: [
                {
                  selector: 'p',
                  styles: {
                    'text-align': 'justify',
                    'font-family': 'Georgia, Tahoma, Verdana',
                    'font-size': '1.5em'
                  }
                }
            ]
        });
        console.log('Je passe dans le block javascript dans tiny');
    </script>
    <script type="text/javascript">
        console.log('Je passe dans le block javascript dans valider()');
        function valider(){
            console.log('je passe ici');
            // Déclaration des variables
            var $tForm = $('#eForm'); // On stocke le formulaire
            console.log ('Contenu de la variable $tForm : ' + $tForm);
            var titrEpi = document.getElementById('episode_titre'); //$('#episode_titre');
            var valtirEpi = titrEpi.value;
            console.log('la valeur du titre est : ' + valtirEpi);
            var contEpi = tinyMCE.get('episode_contenu').getContent(); //$('#mceu_25');
            console.log ('Contenu de la variable contEpi : ' + contEpi);

            // Traitement
            if (!valtirEpi || !contEpi) {
                console.log ('Le titre est vide : ' + test1);
                console.log ('Le contenu est vide aussi : ' + contEpi);
                // Mettre un message d'avertissement ICI //
                // msgAlerte.innerHTML = "Veuillez saisir un titre et un contenu !!";
                return false;

            } else{
                console.log ('Le titre est devenu : ' + test1);
                console.log ('Le contenu est devenu : ' + contEpi);
                return false;
            }
        }

    </script>

{% endblock javascript%}


