{% extends 'layout.html.twig' %}

{% set adminMenu = true %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h2 class="text-center">{{ block('title') }}</h2>

    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success" id="msgAlerte">
        {{ flashMessage }}
    </div>
    {% endfor %}

    <div class="well">
    {{ form_start(episodeForm, { 'attr': {
                'class': 'form-horizontal',
                'onsubmit': 'return valider()',
                'id': 'eForm'
            }}) }}
        <div class="form-group">
            {{ form_label(episodeForm.titre, null, { 'label_attr':  {
                'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-10">
                {{ form_errors(episodeForm.titre) }}
                {{ form_widget(episodeForm.titre, { 'attr':  {
                    'class': 'form-control'
                }}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(episodeForm.contenu, null, { 'label_attr':  {
                'class': 'col-sm-2 control-label'
            }}) }}
            <div class="col-sm-10">
                {{ form_errors(episodeForm.contenu) }}
                {{ form_widget(episodeForm.contenu) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
                <input type="submit" formnovalidate="true"  class="btn btn-primary btn-episode" value="Enregistrer" />
            </div>
        </div>
    {{ form_end(episodeForm) }}

    </div>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script>
        tinymce.init({
            selector: "textarea",
            height: "480"
        });
        // console.log('Je passe dans le block javascript dans tiny');
    </script>

    {# Script pour tester si le titre ou le contenu sont vides #}
    <script type="text/javascript">
        // console.log('Je passe dans le block javascript dans valider()');
        function valider(){
            // Déclaration des variables
            var titrEpi = document.getElementById('episode_titre');
            var valTirEpi = titrEpi.value;
            console.log('Contenu de la variable valTirEpi : ' + valTirEpi);
            var contEpi = tinyMCE.get('episode_contenu').getContent();
            console.log ('Contenu de la variable contEpi : ' + contEpi);

            // Traitement
            if (!valTirEpi || !contEpi) {
                console.log ('Le titre est : ' + valTirEpi);
                console.log ('Le contenu est  : ' + contEpi);
                // Mettre un message d'avertissement ICI //
                alert('Il faut qq chose');
                // $("#msgAlerte").html("Il faut qq chose");
                //
                // Les versions ci-dessous ne fonctionnent pas et post directement le formulaire malgré le return false;
                // document.getElementById("msgAlerte").innerHTML = "Alerte il faut qq chose";
                // var messageElt = document.createElement("p");
                // messageElt.textContent = "Merci de saisir un titre et un contenu pour que l\'épisode soit enregistré";
                // document.getElementById("msgAlerte").appendChild(messageElt);
                // // On recharge la page
                // setTimeout("location.reload();", 2000);

                return false;

            } else{
                console.log ('Le titre est devenu : ' + valTirEpi);
                console.log ('Le contenu est devenu : ' + contEpi);
                return true;
            }
        }

    </script>

{% endblock javascript%}


