{% extends "layout.html.twig" %}

{% block title %}
    {{ episode.titre }}
{% endblock %}

{% block content %}
    <div class="row">
{# PARTIE POUR AFFICHER LE TITRE ET LE CONTENU DE L'EPISODE #}
        <div class="panel panel-default">
            <h2 class="panel-heading">
              <a class="episodeTitle" href="{{ path('home') }}">{{ episode.titre }}</a>
            </h2>
            <div class="contenu panel-body episode">{{ episode.contenu | raw }}</div>
        </div>
    </div>
    {# Affichage des Messages Flash #}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
{# PARTIE POUR AFFICHER LES COMMENTAIRES #}
    <div id="info">
    {# Ici s'affiche le message envoyé apres signalement d'un commentaire #}
    </div>

    <div class="row">
        <div class="panel panel-info">
            <h3 class="panel-heading">Commentaires</h3>
{# SOUS PARTIE POUR GERER L'AFFICHAGE DES COMMENTAIRES #}

            {{ include("subcomment.html.twig") }}

{# SOUS PARTIE POUR GERER L'AFFICHAGE DU FORMULAIRE COMMENTAIRE #}
            <div class="panel-footer">
               {{ form_start(commentForm, {'attr':  {
                        'id': 'comment'
                }}) }}
                    <h4>Ajouter un Commentaire : </h4>
                    {# Ce champ sera modifié en JS en fonction du commentaire traité #}
                    {{ form_errors(commentForm.parentid) }}
                    {{ form_widget(commentForm.parentid, { 'attr':  {
                       'value': 0
                    }}) }}
                    {# Ce champ sera modifié en JS en fonction du commentaire traité #}
                    {{ form_errors(commentForm.niveau) }}
                    {{ form_widget(commentForm.niveau, { 'attr':  {
                       'value': 0
                    }}) }}

                    <div class="form-group">
                        {{ form_errors(commentForm.pseudo) }}
                        {{ form_widget(commentForm.pseudo, { 'attr':  {
                            'rows': '4',
                            'class': 'form-control',
                            'placeholder': 'Saisir votre Pseudo'
                        }}) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(commentForm.contenu) }}
                        {{ form_widget(commentForm.contenu, { 'attr':  {
                            'rows': '4',
                            'class': 'form-control',
                            'placeholder': 'Saisir votre message'
                        }}) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Envoyer" />
                    </div>
                {{ form_end(commentForm) }}
            </div>
        </div>
{% endblock %}
