{% extends "layout.html.twig" %}

{% block title %}{{ episode.titre }}{% endblock %}

{% block content %}
    <div class="row">
{# PARTIE POUR AFFICHER LE TITRE ET LE CONTENU DE L'EPISODE #}
        <div class="panel panel-default">
            <h2 class="panel-heading">
              <a class="episodeTitle" href="{{ path('home') }}">{{ episode.titre }}</a>
            </h2>
            <p class="contenu panel-body episode">{{ episode.contenu | nl2br }}</p>
        </div>
    </div>
{# PARTIE POUR AFFICHER LES COMMENTAIRES #}
    <div class="container">
        <div class="panel panel-info">
            <h3 class="panel-heading">Commentaires</h3>
{# SOUS PARTIE POUR GERER L'AFFICHAGE DES COMMENTAIRES #}

            {{ include("subcomment.html.twig") }}

{# SOUS PARTIE POUR GERER L'AFFICHAGE DU FORMULAIRE COMMENTAIRE #}
            <div class="panel-body">
                <h3>Ajouter un commentaire</h3>
                {% if commentForm %}
                    {{ form_start(commentForm) }}
                        <div class="form-group">
                            {{ form_errors(commentForm.contenu) }}
                            {{ form_widget(commentForm.contenu, { 'attr':  {
                                'rows': '4',
                                'class': 'form-control',
                                'placeholder': 'Saisir votre commentaire'
                            }}) }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Envoyer" />
                        </div>
                    {{ form_end(commentForm) }}
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% else %}
                    <a href="{{ path('login') }} ">Log in</a> pour ajouter un commentaire.
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

