{% extends "layout.html.twig" %}

{% block title %}{{ episode.titre }}{% endblock %}

{% block content %}
    <div class="col-sm-8">
        <div class="panel panel-default">
            <h2 class="panel-heading">
              <a class="episodeTitle" href="{{ path('home') }}">{{ episode.titre }}</a>
            </h2>
            <p class="contenu panel-body">{{ episode.contenu | nl2br }}</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-info">
            <h3 class="panel-heading">Commentaires</h3>
                {% for comment in comments %}
                    <p class="panel-body contenu">
                        <strong>{{ comment.author.username }} said :</strong> {{ comment.contenu |nl2br }}
                    </p>
                {% else %}
                        Pas encore de commentaire.
                {% endfor %}
            <div class="panel-body">
                <h3>Ajouter un commentaire</h3>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    Soon!
                {% else %}
                    <a href="{{ path('login') }} ">Log in</a> pour ajouter un commentaire.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
