{% extends "layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

{# Cette partie gére le corps de la page #}
    <div class="row">
        <div id="monListing" class="panel-group col-lg-12">
        <h3> Les Episodes déjà publiés : </h3>
        {% for episode in episodes %}
            <div class="panel panel-default">
              <h2 class="panel-heading">
                <a href="#{{episode.id}}" data-parent="#monListing" data-toggle="collapse" class="episodeTitle">
                    {{ episode.titre }}
                    <em class="dateCrea"> - Edité le : {{episode.DateCrea | date("d/m/Y")}}</em>
                </a>
              </h2>
              <div id="{{episode.id}}" class="panel-collapse collapse">
                <p class="panel-body contenu">
                    {{ episode.contenu | truncate(1000,true,'...') | raw }}
                    <hr>
                    <a class="episodeTitle" href="{{ path('episode', {'id':episode.id }) }}"><strong>En lire plus...</strong></a>
                </p>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}
