<!doctype html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# CDN permettant le lien vers BootStrap 3.3.7 et Font-awesome 4.3.0 #}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    {# Pour la mise en forme des tableaux dynamiques en plus du CDN BootStrap#}
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
    {# Mon fichier CSS #}
    <link href="{{ asset('/css/projet3.css') }}" rel="stylesheet">
    {# Module TINYMCE #}
    <script type="text/javascript" src="{{ asset('/lib/tinymce/tinymce.min.js') }}"></script>

    {% block javascript %}
        {# le contenu se trouve dans la vue episode_form.html.twig #}
    {% endblock javascript%}

    <title>Projet 3 - {% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container-fluid">
        <header class="row">
            <div class="col-sm-12">
           {# Cette partie gére le menu de navigation #}
                <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand " href="{{ path('home') }}">Blog de Jean Forteroche : <strong>Version Commentaire basic</strong></a>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-target">
                            <ul class="nav navbar-nav navbar-right">
                                    {# Affiche le menu Administration si le ROLE_ADMIN est défini sur le User #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                                {% endif %}

                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-user"></span> Welcome, {{ app.user.username }} <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('logout') }}">Log out</a></li>
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-user"></span> Not connected <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ path('login') }}">Log in</a></li>
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        {# Cette partie gére le corps de la page #}
        <div class="row">
            <div class="col-sm-3 hidden-xs">
                <img src="{{ asset('/images/deco.jpg') }}" alt="page garde Roman" class="deco">
            </div>
            <secion class="col-sm-9">
                {% block content %}

                    {# ICI S'INTEGRE NOS VUES #}

                {% endblock %}
            </secion>
        </div>

        {# Cette partie gére le pied de page #}
        <footer class="container-fluid navbar-fixed-bottom navbar-inverse perso">
            <div class="row">
                <div class="col-md-8">
                    <a class="arnege" href="http://www.arnege.fr">Réalisation ARNEGE</a> /
                    <a class="arnege"href="https://github.com/ArneoRA/Projet3">Projet 3 - GitHub</a>
                    <p id="conception">
                        Blog Personnalisé utilisant : PHP - MVC - POO - MiniFramework Silex - BootStrap - Twig.
                    </p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-default rond" href="http://fr.linkedin.com/pub/arnaud-raoult/5b/957/208/"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    <a class="btn btn-default rond" href="https://www.facebook.com/ArnaudRA"><i class="fa fa-facebook fa-2x"></i></a>
                    <a class="btn btn-default rond" href="https://plus.google.com/u/0/108923850421269678473?rel=publisher"><i class="fa fa-google-plus fa-2x"></i></a>
                </div>
            </div>
        </footer>
    </div>


    <!-- jQuery -->
    <script src="{{ asset('/lib/jquery/jquery.min.js') }}"></script>
    <!-- JavaScript Boostrap plugin -->
    <script src="{{ asset('/lib/bootstrap/js/bootstrap.min.js') }}"></script>

    {# JavaScript pour tableau dynamique #}
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.15/sorting/datetime-moment.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $.fn.dataTable.moment('DD/MM/YYYY');
            // Gestion Datatable pour les episodes
            $('#TabEpisode').DataTable({
                "sDom": '<"top">rt<"bottom"p><"clear">', // Permet d'afficher uniquement la pagination
                "pageLength": 6, // Permet de définir le nombre de lignes par page
                "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 3 ] } // Retire le tri sur la colonne des actions
                ]
            });

            // Gestion Datatable pour les commentaires
            $('#TabComment').DataTable({
                "sDom": '<"top">rt<"bottom"p><"clear">', // Permet d'afficher uniquement la pagination
                "pageLength": 8, // Permet de définir le nombre de lignes par page
                "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 5 ] } // Retire le tri sur la colonne des actions
                ]
            });

            // Gestion Datatable pour les utilisateurs
            $('#TabUser').DataTable({
                "sDom": '<"top">rt<"bottom"p><"clear">', // Permet d'afficher uniquement la pagination
                "autoWidth": false,
                "aoColumnDefs": [
                  { "bSortable": false, "aTargets": [ 2 ] } // Retire le tri sur la colonne des actions
                ],
                "columnDefs": [
                    {"width": '20px', "target": 2}
                ]

            });

        } );
    </script>
    <script src="{{ asset('/lib/js/projet3.js') }}"></script>


</body>
</html>
