{% for comment in comments %}

        <div class="panel-body">
          <div class="row col-sm-10 comm">
            N° identifiant : {{ comment.idcom }} / ParentID : {{ comment.parentid }} /==/
            Niveau : {{comment.niveau}} ===<strong> {{ comment.author.username }} a dit : </strong>  {{ comment.contenu }}
          </div>
          {% if comment.niveau < 3 %}
            {{ include("actions.html.twig") }}
          {% else %}
            {{ include("signaler.html.twig") }}
          {% endif %}
        </div>
          {% if comment.children %}
            <div class="enfant">
              {% include "subcomment.html.twig" with {'comments': comment.children} %}
            </div>
          {% endif %}

{% else %}

        Pas encore de commentaire.

{% endfor %}


