{% for comment in comments %}

        <div class="panel-body">
          <div class="row col-sm-10 comm" id="comment-{{ comment.idcom }}">
            {# en rajoutant un id sur le div, cela permettra d'avoir des ancres mais aussi de travailler l'element plus facilementent JS #}
            <p>
              <strong> {{ comment.pseudo }} a dit : </strong>  {{ comment.contenu | raw }}
              <br>
            </p>
            <h6 id="infospam">{{comment.spam}}</h6>

          </div>

          {% if comment.niveau < 3 %}
            {{ include("actions.html.twig") }}
          {% else %}
            {{ include("signaler.html.twig") }}
          {% endif %}
        </div>

          {% if comment.children %}
            <div class="enfant">
              {% include "subcomment.html.twig" with {'comments': comment.children} %}
            </div>
          {% endif %}

{% else %}

        Pas encore de commentaire.

{% endfor %}


